<section class="footer container">
    <div class="footer-items">
        <div class="footer-left">
            <a href="./index.html" class="logo-link">
                <svg class="header-logo" width="216" height="20">
                  <use href="/img/icons.svg#icon-logo-des"></use>
                </svg>
              </a>
            <p class="body-1 footerheader">Whether you're looking for a healthy snack or a thoughtful gift, our fruit baskets are the
                perfect choice.</p>
        </div>
        <div class="footer-center">
            <h3 class="centerHeader">HOW IT WORKS</h3>
            <h3 class="centerHeader">VEGETABLES</h3>
            <h3 class="centerHeader">REVIEWS</h3>
        </div>
        <div class="footer-right">
            <p class="body-2 rightcontent">+380 (68) 443-94-26</p>
            <p class="body-2">1678 S. Pioneer Road Salt </p>
            <p class="body-2"> Lake City UT 84104</p>
        </div>
    </div>
    <div class="footer-last">
        <p class="lastcontent">Privacy Policy / Cookie settings</p>
        <p class="lastcontent">&copy; Green Harvest 2023</p>
    </div>
</section>