<header class="header">
    <div class="header-content container">
      <a href="./index.html" class="logo-link">
        <svg class="header-logo" width="216" height="20">
          <use href="/img/icons.svg#icon-logo-des"></use>
        </svg>
      </a>
      <nav class="header-nav">
        <ul class="header-list">
          <li><a class="header-list-item" href="#howitworks">How It Works</a></li>
          <li><a class="header-list-item" href="#vegetables">Vegetables</a></li>
          <li><a class="header-list-item" href="#reviews">Reviews</a></li>
        </ul>
        <a href="#yourorder"
          ><button class="header-btn" type="button">Shop now</button></a
        >
      </nav>
      <button
        aria-label="menu"
        aria-expanded="false"
        class="header-menu-button"
        type="button"
        data-menu-open
      >
        <svg class="header-menu-button-icon" width="40" height="40">
          <use href="/img/icons.svg#icon-menu-des"></use>
        </svg>
      </button>
    </div>
  </header>
