<div class="container">
          <div class="order-container">
            <div class="order-img-box">
              <img
                src="../../img/woman-kitchen.png"
                alt="Woman in kitchen with vegetables"
              />
            </div>
            <div class="how-to-order">
              <h3>
                TO ORDER YOUR <span>VEGETABLE</span> <br />BASKET, SIMPLY FOLLOW <br />THESE <span>EASY STEPS</span>
              </h3>
              <p class="description body-1">
                Our baskets are assembled with care and delivered straight to
                your doorstep, so you can enjoy the taste of fresh fruit without
                ever leaving your home.
              </p>
              <div class="steps">
                <div class="step">
                  <div class="step-number">1</div>
                  <p class="step-text body-1">
                    Just choose <span class="body-2">the vegetable</span> you
                    want to order br by clicking on the checkboxes
                    <span class="body-2">next to it.</span>
                  </p>
                </div>

                <div class="step">
                  <div class="step-number">2</div>
                  <p class="step-text body-1">
                    Click on <span class="body-2">the basket</span> and fill out
                    the form.
                  </p>
                </div>
                <div class="step">
                  <div class="step-number">3</div>
                  <p class="step-text body-1">
                    Sit back and relax! Your
                    <span class="body-2">fresh vegetables</span> basket will be
                    delivered.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>