
    <div class="container">
        <div class="reviews-item">
            <div class="reviews-header">
                <h2>reviews from our <span class="reviews-span">customers</span></h2>
                <p class="body-1">Words of our customers: impressions and opinions about the quality of our services and the freshness
                    of our products.</p>
            </div>
            <div class="reviews-card">
                <ul class="card-item">
                    <li class="card">
                       
                        <div class="card-container">
                            <img  src="./img/john.jpg">
                                                    <h4>John Wax</h4>
                            <p class="body-1">These vegetables are my secret to delicious and healthy meals. The quality is always at
                                the
                                highest level, the aroma and taste are enchanting. I advise every fan of real products!
                            </p>
                        </div>
                    </li>
                    <li class="card">
                    
                        <div class="card-container"> 
                            <img src="./img/victoria.jpg">
                            <h4>Victoria Romashenko</h4>
                            <p class="body-1">I love how fast and fresh the vegetables are delivered. Salads always turn out so
                                appetizing,
                                and soups are real masterpieces. The quality is impeccable!</p>
                        </div>
                    </li>
                    <li class="card">
                       
                        <div class="card-container">
                            <img src="./img/ıhor.jpg">
                            <h4>Ihor Trachuk</h4>
                            <p class="body-1">Recently tried my fresh tomatoes and peppers - amazing! The authenticity of the taste, as
                                if
                                from the garden directly to my table. It is now my main vegetable supplier.</p>
                        </div>
                    </li>
                </ul>
            </div>


        </div>

    </div>
