<div class="container">
  <div class="vegetables-background">
    <div class="title">
        <h2>ORGANIC 
          <br>
          <span>VEGETABLES</span></h2>
        <p class="body-1">
          Our organic vegetables are hand-picked from local farms and
          delivered straight to your doorstep, ensuring that you get the
          freshest and most nutritious produce possible.
        </p>
      </div>
      <div class="vegetables-cards">
        <ul>
          <li class="vegetables-card">
            <h3>EGGPLANT</h3>
            <p class="body-1">60 USD / kg</p>
            <img src="../../img/eggplant.png" alt="Eggplant" />
          </li>
          <li class="vegetables-card">
            <h3>LEEK</h3>
            <p class="body-1">50 USD / kg</p>
            <img src="../../img/leek.png" alt="Leek" />
          </li>
          <li class="vegetables-card">
            <h3>MUSHROOMS</h3>
            <p class="body-1">40 USD / kg</p>
            <img src="../../img/mushrooms.png" alt="Mushrooms" />
          </li>
          <li class="vegetables-card">
            <h3>CORN</h3>
            <p class="body-1">60 USD / kg</p>
            <img src="../../img/corn.png" alt="Corn" />
          </li>
          <li class="vegetables-card">
            <h3>SWEET POTATOES</h3>
            <p class="body-1">50 USD / kg</p>
            <img src="../../img/sweet-potatoes.png" alt="Sweet Potatoes" />
          </li>
          <li class="vegetables-card">
            <h3>CARROT</h3>
            <p class="body-1">40 USD / kg</p>
            <img src="../../img/carrot.png" alt="Carrot" />
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>