<div class="container">
    <div class="YourOrder">
        <div class="OrderHeader">
            <h2>Fresh <span class="OrderSpan">Harvest</span> Box <br>has got you covered</h2>
            <p class="body-1">Our boxes are packed with delicious, nutritious vegetables, perfect for anyone looking to
                eat healthier or <br> support local farmers. Order your box today and start enjoying the best that
                nature has to offer!</p>
        </div>
        <div class="OrderSection">
            <div class="OrderForm">
                <div class="FormTitle">
                    <h3>Ordering <span class="chaSpan">from us</span> is quick and easy! Fill out <span
                            class="greenSpan">the form</span> below and we
                        will contact you !</h3>
                </div>
                <div class="FormContent">
                    <form class="FormControl">
                        <input class="form-input" required pattern="[A-Za-z]" type="text" placeholder="Full Name">
                        <input class="form-input" type="email" placeholder="Email">
                        <textarea class="form-textarea" rows="5" cols="30" placeholder="Comment"></textarea>
                        <button type="submit" class="formButton">SEND</button>
                    </form>
                </div>
            </div>
            <div class="Orderimg">
                <img class="imgOrder" src="./img/woman-kitchen.png">
                <p class="body-2 OrderP">Follow us on our social networks:</p>
                <ul class="OrderSocial">
                    <li><a href="">instagram</a></li>
                    <li><a href="">facebook</a></li>
                    <li><a href="">youtube</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
</div>
</div>