<div id="yourorder">
    <div class="section4-contanier"></div>
       <h3 class="section4-title">
         <a href="./index.html"  class="title4" weight="500px">FRESH HARVEST BOX <br>
            HAS GOT YOU COVERED  
         </a>
            <p class="title4-2">Our boxes are 
                packed with delicious, nutritious 
                to eat healthier or support local farmers. 
                Order your box today and start enjoying the best
                that nature has to offe</p>
        </h3>        
            <div class="section4-contacts">
                <div class="section4-contacts-title">
                    <p class="name4" >ORDERİNG FROM US İS QUİCK AND EASY! 
                        FİLL OUT THE FORM BELOW AND WE WİLL CONTACT YOU !  
                        </p>
                        <div class="button-container">
                           <button type="button" class="button4-name">First Name</button>

                           <button type="button" class="button4-name">E-mail</button>

                           <button type="button" class="button4-name-comment">Comment</button>

                           <button type="submit" class="button4-name-send">SEND</button>
                       </div>
                </div>
                <div class="section4-contacts-social">
                        <img class="pic" src="./img/pic.jpg"></img>
                        <p class="title4-3">Follow us on our social networks:</p>
                        <p class="title4-4">INSTAGRAM   /   FACEBOOK   /   YOUTUBE</p>
            
                </div>
            </div>      
    </div>
</div>