.advertisement {
    padding-top: 80px;
    padding-bottom: 80px;
    height: 472px;
    background-color: var(--white);
    margin: 0 auto;
}

.section-adv {
    text-align: start;
    align-items: center;
}

.adv-text {
    font-weight: 600;
    font-size: 48px;
    line-height: 1.08;
    letter-spacing: -0.01em;
    text-transform: uppercase;
    color: var(--black);
}

.adv-text-sp {
    display: inline-block;
    border-radius: 12px;
    padding-right: 20px;
    background: var(--green);
    color: var(--white);

}


@media screen and (min-width: 1280px) {
    .advertisement {
        padding: 100px;
    }

    .section-adv {
        padding: 0;
        width: 1080px;
        height: 228px;
    }

    .adv-text {
        font-size: 76px;
    }

    .adv-text-sp {
        height: 84px;
        padding-left: 16px;
        margin-left: -16px;
        padding-top: 0px;
    }
}

@media (max-width: 374px) {
}
@media screen and (min-width: 375px) and (max-width: 767px){
  .advertisement{
    padding: 80px 20px ;
  }
}
@media screen and (min-width: 768px) and (max-width: 1279px){
    .advertisement {
        padding: 100px 32px;
    }

    .adv-text {
        font-size: 64px;
        line-height: 1;
    }

    .adv-text-sp {
        height: 86px;
        padding-top: 20px;
    }
}