
.footer{
    background-color:#7a3145 ;
    color: white;
}
.footerheader{
   margin-top: 24px;
}
.footer-items{
    display: flex;
    justify-content: space-between;
    padding: 52px 100px ;
}
.footer-left{
    width: 265px;
    height: 104px;
}
.footer-center{
   display: flex;
   flex-direction: column;
   
}
.centerHeader{
  margin-bottom: 24px;
}
.footer-right{
    height: 84px;
}
.rightcontent{
     margin-bottom: 24px;
}
.footer-last{
   
    color:#d4bfc4;
    display: flex;
    justify-content: space-between;
  
}
.lastcontent{
 padding: 54px 100px;
}
.footer-col-2{
  display: flex;
  gap: 121px;
}
@media (max-width: 374px) {
}
@media screen and (min-width: 375px) and (max-width: 767px){
  .container{
    max-width: 375px;
  }
  .footer-items{
    padding: 40px 20px;
    flex-direction: column;
    gap: 40px;
  }
  .footer-last{
    padding: 60px 20px 40px 20px;
    flex-direction: column;
    gap: 16px;
   }
   .footer-col-2{
    flex-direction: column;
    gap: 40px;
   }
   .footerheader{
    font-size: 14px;
    line-height: 20px;
   }
   .rightcontent{
    margin-bottom: 14px;
   }
   .lastcontent {
    padding: 0px;
   }
}
@media screen and (min-width: 768px) and (max-width: 1279px){
  .footer-items{
    padding: 32px;
  }
  .footer-col-2{
    flex-direction: column;
    gap: 64px;
  }
  .lastcontent{
    padding: 100px 32px 32px 32px;
   }
}