
.hero 
{
    padding-top: 100px;
    
}
.hero-section {
    background: #576F35;
}

.hero-container {
    min-width: 320px;
    max-width: 375px;
    margin: 0 auto;
    padding: 0 20px;
}

.hero-text {
    margin-bottom: 40px;
}

.hero-title {

    font-weight: 600;
    font-size: 52px;
    line-height: 1;
    letter-spacing: -0.01em;
    text-transform: uppercase;
    color: #fbfbfb;
    margin-bottom: 20px;
}

.hero-subtitle {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.43;
    color: #fbfbfb;
}

.hero-img {
    background-image: url(../../img/hero-des.jpg);
    background-size: cover;
    max-width: 375px;
    height: 375px;
    background-position: center;
    margin: 0 auto;
    padding: 0;
}



@media screen and (min-resolution:2x) {
    .hero-img {
        background-image: url(../../img/hero-des.jpg);
    }

}

@media (min-width: 320px) and (max-width: 340px) {
    .hero-title {
        font-size: 46px;
    }

    .hero-subtitle {
        font-size: 12px;
    }
}

@media (min-width: 341px) and (max-width: 374px) {
    .hero-title {
        font-size: 50px;
    }

    .hero-subtitle {
        font-size: 13px;
    }
}

@media screen and (min-width: 768px) {
    .hero {
        padding-top: 0;
    }

    .hero-section {
        padding-top: 120px;
    }

    .hero-container {
        max-width: 768px;
        padding: 0
    }

    .hero-text {
        margin-bottom: 52px;
        max-width: 704px;

    }

    .hero-title {
        font-size: 76px;
        margin-bottom: 24px;
    }

    .hero-subtitle {
        font-size: 16px;
        line-height: 125%;
        width: 603px;
    }

    .hero-img {
        background-image: url(../../img/hero-des.jpg);
        background-size: cover;
        max-width: 768px;
        height: 536px;
        background-position: center;
        margin: 0 auto;
    }

    @media screen and (min-resolution:2x) {
        .hero-img {
            background-image: url(../../img/hero-des.jpg);
        }
    }
}

@media screen and (min-width: 1280px) {
    .hero-container {
        padding: 0;
        margin: 0;
        margin-left: auto;
        max-width: 640px;
    }

    .hero-section {
        padding-top: 0;
        display: flex;
        margin: 0 auto;
        max-width: 1280px;
    }

    .hero-text {
        margin-top: 232px;
        margin-left: 100px;
        margin-right: 36px;
        margin-bottom: 52px;
        max-width: 504px;
    }

    .hero-title {
        max-width: 502px;
        margin-bottom: 128px;
    }

    .hero-subtitle {
        width: 472px;
    }

    .container-img {
        width: 640px;
    }

    .hero-img {
        background-image: url(../../img/hero-des.jpg);
        max-width: 640px;
        min-height: 796px;
        margin-right: auto;
    }

    @media screen and (min-resolution:2x) {
        .hero-img {
            background-image: url(../../img/hero-des.jpg);
        }
    }

}