
.reviews-item {
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    padding: 100px;
}

.reviews-header {
    width: 553px;
}

.reviews-header>h2 {
    text-transform: uppercase;
    font-optical-sizing: auto;
}

.reviews-span {
    color: #576f35
}

.reviews-header>p {
    margin-top: 20px;
    font-optical-sizing: auto;
}

.card-container>img {
    border-radius: 50%;

}

.reviews-card {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-item {
    gap: 18px;
    display: flex;
}

.card-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card {
    border: solid 2px #d4bfc4;
    border-radius: 20px;
    display: flex;
    padding: 20px;
    align-items: center;
    width: 344px;
    height: 248px;
}

.card-container>h4 {
    margin-top: 20px;
    font-family: "Inter Tight", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600px;
    font-style: normal;
    font-size: 18px;
    letter-spacing: 0em;
    text-transform: uppercase;

}

.card-container>p {
    margin-top: 10px;
    text-align: center;
    text-indent: 20px;
    font-style: normal;
    color:var(--grey)
}

@media (max-width: 374px) {
}
@media screen and (min-width: 375px) and (max-width: 767px){
    .container{
        max-width: 375px;
      }
      .reviews-item{
        padding: 80px 20px;
      }
      .card:nth-child(n+2){
        display: none;
      }
      .reviews-header h2{
        font-size: 48px;
        line-height: 52px;
      }
      .reviews-header .body-1{
        font-size: 14px;
        line-height: 20px;
      }
      .reviews-header{
        width: 100%;
      }
}
@media screen and (min-width: 768px) and (max-width: 1279px){
  .container{
    max-width: 768px;
  }
  .reviews-item{
    padding: 100px 32px;
  }
  .card:nth-child(n+3){
    display: none;
  }
}