@import url(./advertisement.css);
@import url(./footer.css);
@import url(./header-hero.css);
@import url(./howitworks.css);
@import url(./reviews.css);
@import url(./vegetables.css);
@import url(./yourorder.css);

body{
    margin: 0;
}
*{
    box-sizing: border-box;
  }
  img{
    display: block;
  }
.container{
    display: flex;
    justify-content: center;
}
.ol, ul  {
  list-style-type: none;
  
}
h1,h2,h3,h4,h5,h6{
  margin: 0;
}
p{
  margin: 0;
}