@import url(./advertisement.css);
@import url(./footer.css);
@import url(./header.css);
@import url(./howitworks.css);
@import url(./reviews.css);
@import url(./vegetables.css);
@import url(./yourorder.css);
@import url(./hero.css);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --chianti: #7a3145;
  --green: #576f35;
  --white: #fbfbfb;
  --blush: #d4bfc4;
  --grey: #858585;
  --black: #141414;
  --image-radius: 20px;
}

body {
  font-family: "Inter Tight", sans-serif;
}

img {
  display: block;
}

.container {
  margin: 0 auto;
  padding: 0 auto;
  max-width: 1280px;

}

.ol,
ul,
li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

/* =============== TEXTS =============== */

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

h2 {
  font-weight: 600;
  font-size: 64px;
  line-height: 64px;
  letter-spacing: -1.5%;
}

h3 {
  font-weight: 600;
  /* semibold */
  font-size: 32px;
  letter-spacing: -1.5%;
  line-height: 32px;
}


.body-1 {
  font-weight: 500;
  /* medium */
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0%;
}

.body-2 {
  font-weight: 700;
  /* bold */
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0%;
}