
#yourorder{
    box-sizing: border-box;
    max-width: 1280px;
    margin: 0 auto;
    padding: 100px;
    gap: 52px 0;
    background-color: #576f35;
}

.title4{
    color:white;
    width: 751px;
    height: 128px;
    line-height: 36px;
    font-size: 40px;
    letter-spacing: -1.5%;
    text-decoration: none;  
    margin-bottom: 50px;
    
}

.section4-title{
    width: 751px;
    height: 192px;
    gap: 24px;
    background-color:#576f35;
    
}
.section4-contanier .section4-title a span{
    color: var(--blush);
}
.title4-2{
    width: 742px;
    height: 40px;
    color: white;
    line-height: 20px;
    letter-spacing: 0%;
    font-size: 16px;
    margin-top: 32px;
}

.section4-contacts {
    display: flex;
   max-width: 1280px;
   margin: 0 auto;
   padding: 0 auto;
    gap:32px;  
}

.section4-contacts-title{
    width: 524px;
    height: 592px;
    border-radius: 30px;
    top:52px;
    right: 48px;
    bottom: 52px;
    left: 48px;
    gap: 10px;
    background-color: white;
    justify-items: center;
    font-weight: bold;
    font-family: sans-serif;   
}
.name4{
    width: 428px;
    height: 128px;
    font-size: 32px;
    margin-top: 56px;
    text-align: center;
    line-height: 32px;
    letter-spacing: -1.5%;
    text-align: left;
    margin-bottom: 69px;
    margin-left: 56px;
}
.section4-contacts .section4-contacts-title p span{
    color: var(--chianti);
}
.section4-contacts .section4-contacts-title p span 2{
    color: var(--green);
}
:root{
    --green: #576f35;
    --chianti: #7a3145;
    --blush: #d4bfc4;
}
.button-container{
    display: grid;
    width: 428px;
    height: 232px;
    top:52px;
    right: 48px;
    bottom: 52px;
    left: 48px;
    gap: 16px;
    text-align:end;
}
.button4-name{
    width: fixed;
    height: 52px;
    border-radius: 30px;
    top: 16px;
    right: 345px;
    bottom:16px;
    left: 16px;
    gap: 10px;
    text-align:left;
    background-color: white;
}
.button4-name-comment{
    width: 428px;
    height: 96px;
    border-radius: 15px;
    top: 16px;
    right: 345px;
    bottom: 16px;
    left: 16px;
    gap: 10px;
    text-align:left;
    background-color: white;
    
   
}
.button4-name-send{
    width: fixed;
    height: 52px;
    border-radius: 30px;
    top: 16px;
    right: 346px;
    bottom:16px;
    left: 16px;
    gap: 10px;
    justify-content: flex-start;
    background-color: #7a3145;
    color: white;
    
}
.section4-title .title4 span{
    color: var(--blush);
}
.section4-contacts-social{
    
    background-color: #7a3145;
    width: 524px;
    height: 592px;
    border-radius: 30px;
    top:52px;
    right: 48px;
    bottom: 52px;
    left: 48px;
    gap: 10px 0;
    text-align: center;
}
.pic{
    width: 428px;
    height: 352px;
    border-radius: 15px;
    color: #141414;
    margin-top: 35px;
    margin-left: 35px;
    margin-bottom: 50px; 
}
.title4-3{
    color:#d4bfc4; 
    width: 243px;
    height: 20px;
    font-size: 16px;
    line-height: 100px;
    letter-spacing: 0%;
    margin-left: 32px;
}
.title4-4{
    width: 386px;
    height: 20px;
    gap: 12px;
    margin-left: -22px;
    margin-top: 20px;
    color: white;
    line-height: 100px;  
}
/*MOBİL*/
@media (min-width: 375px) {

  }
/*TABLET*/
@media (min-width: 768px) {
    
  }
  /* BİLGİSAYAR*/
  @media (min-width: 1280px) {  
    
  }
